<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="old-version/css/style.css">
  <title>To-Do list with Vue.JS</title>
</head>
<body>
  

  <div id="app">
    <form action="">
      <input v-model="newTask" type="text" class="inputTask" placeholder="Add a task and Press Enter...">
      <button @click="addTask" class="Add-task-btn">Add task</button>
    </form>
    <div class="todo">
      <h3>TO-DO </h3>
      <ul class="todo-list">
        <li v-for="task in toDo" @click="moveTaskToDone(task)" :key="task.id">{{task.text}}</li>
      </ul>
    </div>
    <div class="done">
      <h3>DONE </h3>
      <ul class="done-list">
        <li v-for="task in done" @click="moveTaskToDo(task)" :key="task.id">{{task.text}}</li>
      </ul>
    </div>
  </div>
  
  <script src="//unpkg.com/vue"></script>
  <script>
    const app = new Vue ({
      el: "#app",
      data: {
        toDo: [
        ],
        done: [
        ],
        newTask: ""
      },
      methods: {
        addTask(e){
          e.preventDefault()
          let timeStamp = new Date().getTime();
          this.toDo.unshift({
            id: timeStamp,
            text: this.newTask})
          this.newTask = ""
        },
        moveTaskToDone(task){
          let id = task.id
          this.done.unshift(task)
          let index = this.toDo.findIndex((item) => item.id === id)
          this.toDo.splice(index,1)
        },
        moveTaskToDo(task){
          let id = task.id
          this.toDo.unshift(task)
          let index = this.done.findIndex((item) => item.id === id)
          this.done.splice(index,1)
        },
      }
    })
  </script>
</body>
</html>