<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>My Shopping List</title>
</head>
<body>
<div id="app">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>My Shopping Cart</h1>
        <select name="prueba" id="prueba" class="browser-default">
          <option value="prueba 1">Prueba 1</option>
          <option value="prueba 2">Prueba 2</option>
        </select> 
      </div>
      <div class="col s6">
          <label for="">Introduce el Producto
            <input type="text"  v-model="product.name">
          </label>
          <label for="">Introduce el Precio
            <input type="number" min="0" v-model.number="product.price">
          </label>
          <label for="">Introduce la URL
            <input type="text" v-model="product.urlImg">
          </label>
          <label for="">Introduce la Descripción
            <input type="text"  v-model="product.description">
          </label>
          <button @click="addProduct(product)" class="waves-effect waves-light btn">Enviar</button>
      </div>
      <div class="col s6">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Photo</th>
              <th>Product Price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products">
              <td>{{product.name}}</td>
              <td><img :src="product.urlImg" alt="Imagen fruta" width="20%"></td>
              <td>{{product.price}}</td>
              <td>
                  <button @click="editProduct(product)" class="btn green">E</button>
                  <button @click="removeProduct(product)" class="btn red">X</button>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Precio total = {{totalPrice}}</p>

      </div>
    </div>
  </div>
</div>
 
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/vue"></script>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        isNew: true,
        product: {
          name: "",
          price: 0,
          urlImg: "",
          description: "",
          id: null
        },
        products: [
          {
          name: "Apple",
          price: 5,
          urlImg: "https://cdn4.iconfinder.com/data/icons/food-icons/apple.png",
          description: "Una manzanita",
          id: 1
          }
        ]
      },
      computed: {
        totalPrice(){
          let total = 0
          if (this.products.length) {
            let productsPrice = this.products.map((product) => product.price)
            total = productsPrice.reduce((sum, price) => sum + price)
          }
          return total
        }
      },
      methods: {
        saveProduct(product){
          if(this.isNew) {
            this.product.id = new Date().getTime()
            this.products.push(this.product)
            this.clearProduct()
          } else {
            this.product = product
          }
        },
        addProduct(product){
          this.isNew = true
          this.saveProduct(product)
        },
        clearProduct(){
          product.name = ""
          product.price = ""
          product.urlImg = ""
          product.description = ""
          product.id = ""
        },
        removeProduct(product){
          let index = this.products.findIndex((item) => item.id === product.id)
          this.products.splice(index, 1)
        },
        editProduct(product){
          this.isNew = false
          this.saveProduct()

        }
      }
    })
  </script>
</body>
</html>